__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

runs/*
!runs/.gitkeep

references/current_tasks/*
!references/current_tasks/README.md

models/onnx/*
!models/onnx/README.md
models/om/*
!models/om/README.md
models/tflite/*
